@use 'variables';
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Italiana&display=swap');

body {
    font-family: variables.$font-secondary;
    transition: 1s all;
    overflow-x: hidden;
}

.error {
    color: red;
    font-family: variables.$font-secondary;
}

.heading,
.subheading {
    text-transform: uppercase;
    text-align: center;
    font-family: variables.$font-secondary;
}

.heading {
    color: variables.$color-primary;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.subheading {
    text-align: center;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: linear-gradient(90deg, #000 0%, #666 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.button-primary {
    font-family: variables.$font-secondary;
    border-radius: 999px;
    background: variables.$color-primary;
    color: #fff;
    text-align: center;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    outline: none;
}

a {
    text-decoration: none;
}

button {
    font-family: variables.$font-secondary;
    cursor: pointer;
}
